@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');



body{
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: center;
}

button{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1vw;
    border-style: none;
    padding: 1vh 1vw;
    font-family: 'Rosario', sans-serif;
    color: white;
    font-size: 1.1vw;
    box-shadow: -1rem 0 3rem rgba(0 0 0);
    transition: 0.8s ease;
}

button:hover{
    box-shadow: 1rem 1vh 3rem rgba(0 0 0);
}

h1{
    font-family: 'Romanesco', cursive;
    font-size: 8vw;
    align-self: center;
    padding: 1vh 1vw;
}

.primeiraSeção h2{
    font-family: 'Rosario', sans-serif;
    font-size: 3vw;
    padding: 30vh 0 0 15vh;
}


/* Primeira parte do site */


.primeiraSeção{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textoPrimeiraSeção{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.primeiraSeção p{
    color: white;
    display: inline-block;
    padding: 2vh 0 0 15vh;
    line-height: 4vh;
}



.IPhone{
    width: 50%;
}

/* Segunda parte do site */

.segundaSeção{
    align-items: center;
    text-align: center;
}

.segundaSeção h2{
    padding-top: 12vh;
    font-family: 'Rosario', sans-serif;
    font-size: 3vw;

}

.segundaSeção h2:first-child{
    padding-top: 30vh;
    font-family: 'Rosario', sans-serif;
    font-size: 3vw;

}

.segundaSeção p{
    font-family: 'Zen Loop', cursive;
    font-size: 5vh;
}

.segundaSeção p:last-child{
    padding-bottom: 30vh;
}

.listaCartoes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}