
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


.tituloUsuarios{
    font-family: 'Rosario', sans-serif;
    font-size: 3vw;
    text-align: center;
}

.listaCartoes {
    display: flex;
    justify-content: center;
    padding: 3rem;
    overflow-x: scroll;
}


.cartao{
    height: 30vh;
    width: 10vw;
    min-width: 200px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #353535;
    box-shadow: -2px 7px 13px 1px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    clear: both;
    position: relative;
}

.cartao:focus-within~.cartao, .cartao:hover~.cartao {
    transform: translateX(130px);
}

.cartao:hover {
    transform: translateY(-1vh);
}

.cartao:not(:first-child) {
    margin-left: -130px;
}


.cabecalho h3 {
    display: block;
    font-size: 4vh;
    text-align: center;
    
    font-family: 'Inter', sans-serif;
}

.miniatura{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    height: 20vh;
    width: auto;
    border-radius: 30px;
    box-shadow: black;
}